
<%= render "pages/header" %>

  <div class="container-card">
    <div class="row">
        <% @cocktails.each do |c| %>
          <div class="card" style="background-image: url(<%= asset_url('https://source.unsplash.com/250x250/?cocktail')%>)">
            <div class="card-title">
                <p id="card-name"><%= link_to c.name, cocktail_path(:cocktail), :class=> "btn btn-card" %></p>
            </div>
        </div>
        <% end %>
    </div>
  </div>
