
<div class="wrapper">
  <div class="header">
    <%= image_tag "cocktail_logo.png", alt: "Logo", width: 50,height: 50 %>
    <h3>Mister Cocktail</h3>
  </div>

  <div class="main">
    <div class="main-banner">
      <%#image_tag "cocktails_sunset.jpeg", alt: "Sunset with Cocktails", :class => "banner-img"%>
    </div>

  </div>
</div>




