<div class="header">
  <%= link_to pages_path do %>
    <%= image_tag "cocktail_logo.png", alt: "Logo", width: 30,height: 30%>
  <% end %>
  <%= link_to "Add Cocktail", new_cocktail_path, :class=> "btn btn-new" %>
</div>


