<%= render "pages/home" %>

<div class="main">
  <div class="main-banner">
    <%#image_tag "cocktails_sunset.jpeg", alt: "Sunset with Cocktails", :class => "banner-img"%>
    <div class="banner-slogan">
      <h2 class='cursive'>Best Drink for Best Moments</h2> <br>
      <p class='cursive'>The way of enjoying your success.</p>
      <%= link_to "View Cocktails", cocktails_path, :class=> "btn btn-info" %>
    </div>
  </div>
</div>


