.btn {
  border: 1px solid #f98404;
  background: #f98404;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #161616;
  box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}

