// .wrapper {
//   width: 100%;
// }

// #wrapper-index {
//   background: #161616;
// }
.section {
  min-width: 100vw;
  min-height: 100vh;
  background: #161616;
  margin: 0;
  padding: 0;
}

// .container {
//   min-width: 60%;
//   min-height: 40%;
// }

.card {
  width: 250px;
  height: 250px;
  border: 1px solid #eeebdd;
}

.card-img {
  background-image: asset_url('https://source.unsplash.com/500x400/?cocktail');
}
