
.section {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  margin: 42px 24px;
}

.row{
  height: 100%;
  border-radius: 4px;
  padding: 8px 36px;

}

.card-img {
  background-image: asset_url('https://source.unsplash.com/500x400/?cocktail');
}
