
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 4px 8px;
  margin: 0;
  color: #c84b31;
  font-family: 'Satisfy', cursive;
}

.main {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Satisfy', cursive;
  object-fit: cover;
}

.main-banner{
  background-image: asset_url('AdobeStock.jpeg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  object-fit:cover;
  line-height: 1;
}

.banner-slogan {
  color: #c84b31;
  text-shadow: 1px 2px rgba(0,0,0,-1);
  text-align: center;
  padding: 24px 0;
  position: absolute;
  top: 180px;
  right: 100px;

  h2 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.5em;
    line-spacing: 1em;
  }
}

.cursive {
  font-family: 'Satisfy', cursive;
}

// .btn {
//   border: 1px solid #f98404;
//   background: #f98404;
//   cursor: pointer;
//   padding: 8px 16px;
//   border-radius: 8px;
//   font-size: 18px;
//   letter-spacing: 2px;
//   color: #161616;
//   box-shadow: 1px 2px 3px rgba(0,0,0,.1);
// }
